@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Righteous&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  margin-top: 2.5%;
  width: 414px;
  background-color: #e5e5e5;
}

.header {
  width: 414px;
  max-width: 420px;
  height: 92px;
  background-color: #cf2b2b;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.margin-top {
  margin-top: 100px;
}

.header-texts {
  margin-left: 4%;
}

.header h1 {
  font-family: 'righteous';
  font-weight: 400;
  font-size: 44px;
  color: #ffffff;
  display: flex;
}

.header p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.categorie-name h2 {
  margin-top: 20px;
  padding-left: 5%;
  margin-bottom: 12px;
  color: #000000;

  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
}

.categorie {
  display: flex;
  padding-left: 19px;
  padding-right: 19px;
  gap: 16px;
  overflow-x: scroll;
}

::-webkit-scrollbar {
  background-color: transparent;
}

.items {
  width: 172px;
  height: 216px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  padding: 13px 9px 8px;
  border: 5px solid #fff;
  position:relative;
  
}

.items img {
  width: 144px;
  height: 87px;
  border-radius: 4px;
}

.img-texts {
  margin-top: 12px;
}

.img-texts h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #000;
  margin-bottom: 6.5%;
}

.img-texts p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: rgba(166, 166, 166, 0.8);
}

.img-texts p:last-of-type {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  margin-top: 7%;
}

ion-icon {
  position: absolute;
  bottom: 8px;
  right: 10px;
  font-size: 20px;
  opacity:0;
  color:#32B72F;
}

.drinks {
  height: 202px;
}

.drinks ion-icon {
  position: absolute;
  bottom: 9px;
  right: 10px;
  font-size: 20px;
  opacity: 0;
  color:#32B72F;
}

.dessert {
  height: 197px;
}

.dessert ion-icon {
  position: absolute;
  bottom: 3px;
  right: 10px;
  font-size: 20px;
  opacity: 0;
  color:#32B72F;
}

.selected1 {
  border: 5px solid #32B72F;
}

.selected1 > ion-icon {
  position: absolute;
  bottom: 7px;
  right: 10px;
  font-size: 20px;
  opacity:1;
  color:#32B72F;
}

.selected2 {
  border: 5px solid #32B72F;
}

.selected2 > ion-icon {
  position: absolute;
  bottom: 7px;
  right: 10px;
  font-size: 20px;
  opacity:1;
  color:#32B72F;
}

.selected3 {
  border: 5px solid #32B72F;
}

.selected3 > ion-icon {
  position: absolute;
  bottom: 7px;
  right: 10px;
  font-size: 20px;
  opacity:1;
  color:#32B72F;
}

.margin-bottom {
  margin-bottom: 25%;
}

.footer {
  width: 414px;
  height: 92px;
  background-color: #ffffff;
  padding: 15px 25px 16px;
  position: fixed;
  bottom: 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.arrounded {
  padding: 15px 25px 16px;
  height: 61px;
  background-color: #cbcbcb;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrounded p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

.arrounded p:last-child {
  display: none;
}

.order-made {
  padding: 15px 25px 16px;
  height: 61px;
  background-color: #32B72F;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-made p:first-child {
  display: none;
}

.order-made p:nth-child(2) {
  display: none;
}

.order-made p:last-child {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
color: #fff;
display: inline;
}

/* Order confirmation display */
.order-confirmation {
width: 377px;
height: 353px;
background: #50D074;
box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
border-radius: 9px;
position: fixed;
top: calc(100px + 150px);

display: flex;
flex-direction: column;
justify-content: center;
display: none;
}

.order-confirmation-items{
display: flex;
flex-direction: column;
}

.order-confirmation-title {
width: 376px;
height: 27px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 28px 33px 27px;
}

.order-confirmation-title p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  
}

.order-confirmation-text {
  display: flex;
  justify-content: space-between;
  padding: 24px 26px;
}

.order-confirmation-text p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}

.last-class p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #fff;
}

.complete-order {
  width: 329px;
height: 52px;
background-color: #fff;
border-radius: 100px;
display: flex;
align-items: center;
justify-content: center;
}

.cancel-order {
  display: flex;
align-items: center;
justify-content: center;
}

.cancel-order p {
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
color: #fff;
}